
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
--primary-color:rgb(220, 220, 220);
--secundary-color:rgb(160, 160, 160);
--tertiary-color:rgb(140, 140, 140);
--btn-ca-hover:rgb(255, 19, 19);
--btn-ca:rgb(255, 97, 97);
--btn-c-hover:rgb(255, 148, 9);
--btn-c:rgb(255, 175, 70);
--btn-ac-hover:rgb(255, 255, 0);
--btn-ac:rgb(255, 255, 154);
}

body{
  background-color: black;
}

button{
  width: 60px;
  height: 60px;
  border-radius: 25%;
  font-size: 1rem;
  cursor: pointer;
}
.act-btn{
  border-top: 2px solid var(--btn-ac-hover);
  border-right: 2px solid var(--btn-ac-hover);
  border-bottom: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  background-color: var(--btn-ac);
  transition: background-color .5s ease-in-out;
  &:hover {
    background-color: var(--btn-ac-hover);
    border-bottom: 2px solid var(--btn-ac);
    border-left: 2px solid var(--btn-ac);
  }
}
.nr-btn{
  border-top: 2px solid var(--tertiary-color);
  border-right: 2px solid var(--tertiary-color);
  border-bottom: 2px solid var(--secundary-color);
  border-left: 2px solid var(--secundary-color);
  background-color: var(--primary-color);
  transition: background-color .5s ease-in-out;
  &:hover {
    background-color: var(--secundary-color);
    border-bottom: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
  }
}
#c{
  border-top: 2px solid var(--btn-c-hover);
  border-right: 2px solid var(--btn-c-hover);
  border-bottom: 2px solid var(--btn-c);
  border-left: 2px solid var(--btn-c);
  background-color: var(--btn-c);
  transition: background-color .5s ease-in-out;
  &:hover {
    background-color: var(--btn-c-hover);
  }
}
#ca{
  border-top: 2px solid var(--btn-ca-hover);
  border-right: 2px solid var(--btn-ca-hover);
  border-bottom: 2px solid var(--btn-ca);
  border-left: 2px solid var(--btn-ca);
  background-color: var(--btn-ca);
  transition: background-color .5s ease-in-out;
  &:hover {
    background-color: var(--btn-ca-hover);
    border-bottom: 2px solid var(--btn-ca);
    border-left: 2px solid var(--btn-ca);
  }
}
#point{
  font-size: 2rem;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: var(--secundary-color);
  border-top: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--tertiary-color);
  border-left: 2px solid var(--tertiary-color);
  .display-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 10%;
    margin: 15px 0px;
    background-color: var(--primary-color);
    box-shadow: inset 0px 0px 10px var(--tertiary-color),
                inset 0px 10px 20px var(--secundary-color);
    border-top: 2px solid var(--tertiary-color);
    border-right: 2px solid var(--tertiary-color);
    border-bottom: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    .display{
    margin: 0 10px;
    color: var(--tertiary-color);
    font-size: 2rem;
    font-weight: 600;
    }
  }
  .buttons{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    .btn-container{
      width: 90%;
      height: 90%;
      display: grid;
      grid-template-columns: 1fr span 4;
      grid-template-rows: 1fr span 5;
      gap: 10px 10px; 
      grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . .";
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
  }
}
