
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary-color);
}

:root{
--primary-color:rgb(5, 0, 63);
--secundary-color:rgb(12, 0, 143);
--btn-ca:rgb(92, 0, 0);
--btn-c:rgb(142, 86, 14);
--btn:rgb(100, 98, 95);
--btn-ac:rgb(145, 145, 34);
--shadow: 0 0 5px 5px rgb(5, 0, 63), 0 0 10px 10px rgb(13, 0, 155);
}

button{
  width: 60px;
  height: 60px;
  border-radius: 25%;
  font-size: 1rem;
  box-shadow: var(--shadow);
  border: 2px solid var(--secundary-color);
  cursor: pointer;
}
.act-btn{
  background-color: var(--btn-ac);
}
.nr-btn{
  background-color: var(--btn);
}
#c{
  background-color: var(--btn-c);
}
#ca{
  background-color: var(--btn-ca);
}
#point{
  font-size: 2rem;
}

.container{
  box-shadow: 0 0 5px 5px rgb(131, 212, 255), 0 0 10px 15px rgb(0, 195, 255);
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  background-color: var(--secundary-color);
  border-radius: 5%;
  border: 2px solid rgb(161, 220, 255);
  transform: translate(25%, 15%);
  .display-container{
    box-shadow: 0 0 5px 5px rgb(16, 167, 255);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 10%;
    margin: 15px 0px;
    background-color: rgb(161, 220, 255);
    border: 2px solid rgb(16, 167, 255);
    border-radius: 10%;
    .display{
    margin: 0 10px;
    color: var(--secundary-color);
    font-size: 2rem;
    font-weight: 600;
    }
  }
  .buttons{
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    .btn-container{
      width: 90%;
      height: 90%;
      display: grid;
      grid-template-columns: 1fr span 4;
      grid-template-rows: 1fr span 5;
      gap: 10px 10px; 
      grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . .";
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
  }
}
